.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.flex-1 {
  flex: 1;
}
.flex-0 {
  flex: 0;
}
